:root {
  --vp-c-bg: #f5f0ff;
  --vp-c-bg-alt: #fff0e6;
  --vp-c-bg-soft: #f0e6cc;
  --vp-home-hero-name-color: #734971;
  --vp-c-text-1: #5b5a5b;
  --vp-c-text-2: #5b5a5b;
  --vp-c-text-3: #5b5a5b;
}

